{% extends 'base.html' %}

{% block content %}

  <h3 class="text-center my-5">Login</h3>

  <form class="my-5 form-login" action="{% url 'login' %}" method="post">

    {% csrf_token %}
    <label for="exampleInputEmail1" class="form-label">Nombre:</label>
    {{ form.username }}
    <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
    {{ form.password }}

    <!-- <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
    </div> -->
    
    <div class="d-grid gap-2 d-md-flex justify-content-end">
      <button type="submit" class="btn btn-info text-light px-4 py-2 mt-3">Login</button>
    </div>
  </form>

  <p class="text-center">Si no tienes cuenta <a href="/accounts/register">Crea una aquí.</a></p>

  
{% endblock %}