{% extends 'base.html' %}

{% block content %}

  <h3 class="text-center my-5">Login</h3>

  <form class="my-5 form-login" action="{% url 'login' %}" method="post">

    {% csrf_token %}
    {{form}}

    <!-- <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
    </div> -->
    <div class="d-grid gap-2 d-md-flex justify-content-end">
      <button type="submit" class="btn btn-primary ">Login</button>
    </div>
  </form>

  
{% endblock %}