{% extends 'base.html' %}

{% block content %}
  <h3 class="text-center mt-5">Bienvenido Cliente</h3>
  <div class="formulario my-5">
    <form>
      <div class="mt-5">
        <label for="exampleInputName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Nombre">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Correo electrónico">
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mensaje</label>
        <input type="text" class="form-control  input-mensaje caja-mensaje" id="exampleInputPassword1" placeholder="Escribe aquí tu mensaje">
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-end">
        <button type="submit" class="btn btn-info text-light px-4 py-2 ">Enviar</button>
      </div>
    </form>
  </div>


{% endblock %}